body {
margin: 0;
font-family: Arial, sans-serif;
background: linear-gradient(135deg,#E06B45,#C0C0C0,#596235,#2F3020);
background-size: 400% 400%;
animation: bgMove 12s ease infinite;
color: #ffffff;
overflow-x: hidden;
}


@keyframes bgMove {
0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}
}


.container {
max-width: 1000px;
margin: 60px auto;
padding: 30px;
background: rgba(47,48,32,0.85);
border-radius: 18px;
box-shadow: 0 15px 40px rgba(0,0,0,0.6);
}


h1,h2 { text-align:center; }


.btn {
width: 100%;
padding: 16px;
margin: 12px 0;
font-size: 18px;
background: linear-gradient(135deg,#E06B45,#C0C0C0);
border: none;
border-radius: 12px;
cursor: pointer;
color: #2F3020;
}


.btn:hover {
transform: scale(1.03);
}


.card {
background: rgba(255,255,255,0.15);
padding: 20px;
margin: 15px 0;
border-radius: 14px;
}


.back {
margin-top: 30px;
background: linear-gradient(135deg,#f7971e,#ffd200);
color: black;
}
